/* You can add global styles to this file, and also import other style files */
body {
    background-color: #000000;
    color: #ffffff;
    margin: 1em;
  }

h1 {
  font-size: 300%;
  color: white;
  font-weight: bold;
  }
html, body { height: 100%; }

