<h1 class="text-center">{{title}}</h1>
<div style="width: 45rem; padding: .5rem;">
<nav class="nav nav-pills nav-justified">
     <li class="nav-item" >
          <a routerLink="/dashboard" class="nav-link active">Home</a>
     </li>
     <li class="nav-item" >
           <a routerLink="/movies" class="nav-link active" >Movies</a>
     </li>
     <li class="nav-item" *ngIf="status ==null" >
          <a routerLink="/login" class="nav-link active"  >Login/Sign-up</a>
     </li>
     <li class="nav-item" *ngIf="status!=null" >
          <a routerLink="/" class="nav-link active" >View Past Puchases</a>
     </li>
     <li class="nav-item" *ngIf="status!=null" >
          <a routerLink="/" (click)= "this.logout()" class="nav-link active" >Logout</a>
     </li>
</nav>
</div>
<router-outlet></router-outlet>
<br><br>
<div class="container">
<app-messages></app-messages>
</div>