<div style="width: 45rem; padding: .5rem;">
    <nav class="nav nav-pills nav-justified">
         <li class="nav-item" >
              <a routerLink="/dashboard" class="nav-link active">Home</a>
         </li>
         <li class="nav-item" >
               <a routerLink="/movies" class="nav-link active" >Movies</a>
         </li>
         <li class="nav-item" >
              <a routerLink="/login" class="nav-link active" >Login/Sign-up</a>
         </li>
    </nav>
</div>
<router-outlet></router-outlet>